@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @*
        For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
    *@
    @{
        ViewBag.Title = "Here is a list of the entered quotes";
    }

    @model IEnumerable<QuotesApp.Models.QuoteItem>
    <!-- create movie list table -->
    <div>
        <h1>Entered Quotes:</h1>

        <table id="t01">
            <tr>
                <th>Quote</th>
                <th>Author</th>
                <th>Date</th>
                <th>Subject</th>
                <th>Citation</th>
            </tr>

            <!-- loop through each movie row -->

            @foreach (QuotesApp.Models.QuoteItem x in Model)
            {
                if (x.Quote != "not this quote")
                {
                    <tr>
                        <td>@x.Quote</td>
                        <td>@x.QuoteAuthor</td>
                        <td>@x.QuoteDate</td>
                        <td>@x.QuoteSubject</td>
                        <td>@x.QuoteCitation</td>
                        <!--Added a button to update that specific movie-->
                        <td><a asp-action="EditQuote" asp-route-quoteID="@x.QuoteID">Edit</a></td>
                        <!--Added a button to delete that specific movie-->
                        <td>
                            <form asp-action="DeleteQuote" method="post">
                                <input type="hidden" name="quoteID" value="@x.QuoteID" />
                                <button type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
</div>
